/* CSS BY MMARILUZ CONTRERAS */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

body {
    min-width: 400px;
    font-family: 'Inter,' sans-serif;
    background-color: var(--white);
    color: var(--black);
    line-height: 1.5;
}

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
 #innovation {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    color: var(--white);
    font-family: var(--font);
    position: relative;
}

#innovation h2 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#innovation p {
    font-size: 0.8rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

#innovation .container{
    max-width: 500px;
}

#innovation button {
    background-color: var(--blue);
    color: var(--white);
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

#innovation button:hover {
    background-color: var(--red);
    transform: scale(1.05);
}

#innovation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px; 
    background: linear-gradient(to bottom, var(--blue), transparent);
    pointer-events: none;
    z-index: 1;
}

#innovation .container {
    position: relative;
    z-index: 2;
}


/* ADD FLOATING SVG LOGO BEFORE THE H1 */
 header h1::before {
    content: "";
    position: relative;
    display: block;
    width: 5rem;
    height: 5rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
}

header h1 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--blue);
    font-family: var(--font);
    font-size: 30px;
    font-weight: 800;
}

header {
    background-color: var(--black);
    color: var(--white);
    padding: 2rem 0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2, nav ul {
    display: none;
}

#expertise {
    background-color: var(--white);
    padding: 3rem 0 2rem;
    font-family: var(--font);
}

#expertise h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 1rem;
    align-items: center;
    padding-left: 12px;
}

#expertise p {
    line-height: 1.3;
    color: var(--charcoal);
    font-size: 15px;
}

#offer {
    padding-bottom: 3rem;
    font-family: var(--font);
}

#offer h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    align-items: center;
    padding-left: 25px;
}

.card {
    background-color: var(--blue);
    color: var(--white);
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

.card h3 {
    font-size: 1.3rem;
    font-weight: 800;
    padding-left: 12px;
    margin-bottom: 20px;
}

.card p {
    line-height: 1.3;
    font-size: 15px;
}

#results {
    background-color: var(--blue);
    padding: 3rem 0;
    color: var(--white);
    font-family: var(--font);
}

#results h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    padding-left: 15px;
}

#results > .container > p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2.5rem;
    max-width: 90%;
}

#profits h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

/* PROFIT TABLE GOES HERE */











#contact {
    background-color: var(--black);
    color: var(--white);
    padding: 4rem 0 2rem;
    font-family: var(--font);
}

#contact h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

#contact .container > p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    max-width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

form label {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

form input, form textarea {
    width: 420px;
    height: 50px;
    border: 3px solid var(--blue);
    background-color: var(--white);
    padding: 10px;
    font-size: 1rem;
    font-family: var(--font);
}

form input {
    height: 1.5rem;
}

form textarea {
    min-height: 5rem;
    resize: vertical;
}

form button {
    margin-top: 1.5rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem;
    border-radius: .75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
    width: 445px;
}

form button:hover {
    background-color: var(--red);
    transform: scale(1.05);
}

footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1rem 0 1rem;
    border-top: 1px solid var(--charcoal);
    font-family: var(--font);
    border-top: none;
}

footer p {
    margin-bottom: .5rem;
    font-size: 15px;
    line-height: 20px;
}

footer a {
    color: var(--blue);
}


/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.5s ease;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}


/* MEDIA QUERIES (MEDIUM) */ 

    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }


/* MEDIA QUERIES (LARGE) */
